@font-face {
  font-family: "DungGeunMo";
  src: url("/DungGeunMo.woff2") format("woff2"),
    url("/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "DungGeunMo", sans-serif;
  background-color: #00007e;
  color: white;
}

body {
  margin: 10px;
  padding: 0;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 24px;
}
